
  <div class="row mainContent">
    <div class="col">
    <div class="leftside" >
     <div>
       <img src="../../assets/image/lefticon.svg" alt="" id="firsticon">
     </div>
 
    <img src="../../assets/image/image_processing20220107-29527-faafhi 1.svg" alt="">
 
     </div>
    </div>
 
    <div class="col">
     <div class="rightside">
     <div>
         <img src="../../assets/image/Group 7.svg" alt="" id="secondicon">  
     </div>
     <div class="head"><p>Hi,Shashti Set your password</p></div>
     <div class="msg ">
         <div class="inputfield">
            
                 <form action="" [formGroup]="userForm">
                 <label for="" id="label">Create your password</label>
                 <input type="text"  placeholder="Placeholder text" id="input"   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName= "createPwd" > 
                  <div *ngIf="form['createPwd'].invalid && (form['createPwd'].dirty || form['createPwd'].touched)">
                    <span *ngIf="form['createPwd'].errors?.required" style="color:red">password is required</span>
                    <span *ngIf="form['createPwd'].errors?.minlength" style="color:red">min length of 8</span>
                    <span *ngIf="form['createPwd'].errors?.pattern" style="color:red">not strong password</span>


                  </div>

                              
                <div class="field" >
                 <label for="" id="label">Confirm password</label>
                 <input type="text" placeholder="Placeholder text" id="input"     formControlName="confirmPwd">
                 <div *ngIf="form['confirmPwd'].invalid && (form['confirmPwd'].touched || form['confirmPwd'].dirty)">
                  <span *ngIf="form['confirmPwd'].errors?.required" style="color:red">confirm password is required</span>
              
                 </div>
                </div>
               
              </form >
         </div>
         <div class="rules">
             <li id="r1">At least 8 characters in length</li>
             <p id="r2">Should contain:</p>
             <li id="r3">Lower case letters (a-z)</li>
            
             <li id="r4">Upper case letters (A-Z)</li>
             <li id ="r5">Numbers (i.e. 0-9)</li>
         </div>
         <button id="button"  >SUBMIT</button> <!--- (click)="submit()" -->

        <div >
            <p id="login">Already Have an Account,<a routerLink="/login">Login</a></p>
        </div>
         
     </div>
    </div>
 </div>
 
   </div>