
  <div class="row mainContent">
    <div class="col">
    <div class="leftside" >
     <div>
       <img src="../../assets/image/lefticon.svg" alt="" id="firsticon">
     </div>
 
    <img src="../../assets/image/image_processing20220107-29527-faafhi 1.svg" alt="">
 
     </div>
    </div>
 
    <div class="col">
     <div class="rightside">
     <div>
         <img src="../../assets/image/Group 7.svg" alt="" id="secondicon">  
     </div>
     <div class="head"><p>Hi,Shashti Set your password</p></div>
     <div class="msg ">
         <div class="inputfield">
            
                 <div>
                 <label for="" id="label">Create your password</label>
                 <input type="text" placeholder="Placeholder text" id="input"> 
                 <!-- <img src="../../assets/MyApp_files/eye.svg" alt="" id="eye1"> 
                 <img src="../../assets/MyApp_files/eyecross.svg" alt="" id="eyecross1"> -->
                 </div>
            
                <div class="field" >
                 <label for="" id="label">Confirm password</label>
                 <input type="text" placeholder="Placeholder text" id="input">
                 <!-- <img src="../../assets/MyApp_files/eye.svg" alt="" id="eye2"> 
                 <img src="../../assets/MyApp_files/eyecross.svg" alt="" id="eyecross2"> -->
                </div>
               
             
         </div>
         <div class="rules">
             <li id="r1">At least 8 characters in length</li>
             <p id="r2">Should contain:</p>
             <li id="r3">Lower case letters (a-z)</li>
            
             <li id="r4">Upper case letters (A-Z)</li>
             <li id ="r5">Numbers (i.e. 0-9)</li>
         </div>
         <button id="button">SUBMIT</button>

        <div >
            <p id="login">Already Have an Account,Login</p>
        </div>
         
     </div>
     </div>
 </div>
 
   </div>
