
.leftside{
    position: absolute;
    width: 505;
    height: 100%;
    left: 0px;
    top: 0px;
    padding-bottom: 21px;
    padding-top: 210px;
    padding-right:31;
    padding-left: 31;
    background: #2F4BDE;
}

.rigtside{
    justify-content: center;
    width: 50px;
}

#rightgreen{
    
    position: absolute;
    left: 72.83%;
    right: 26.24%;
    top: 14.28%;
    bottom: 84.18%;
    height: 21.364370346069336px;
    width: 23.90667724609375px;
    left: 920.2587890625px;
    top: 92.63557815551758px;
    border-radius: 0px;
}


#secondicon{
  
    position: absolute;
    width: 123.64px;
    height: 32px;
    left: 890px;
    top: 82px;
    width: 123.64239501953125px;
    border-radius: 0px;


}


#firsticon{
    position: absolute;
    height: 42px;
    left: 230px;
    top: 91px;
    height: 42px;
    width: 162.28163146972656px;
    border-radius: 0px;



}




#input{

box-sizing: border-box;


display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 9px 12px;
gap: 10px;

width: 320px;
height: 38px;

background: #FFFFFF;


border: 1px solid #E1E7EA;
border-radius: 3px;

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.inputfield{
    padding-top: 240px;
    padding-left: 70px;
    
}
.head{

position: absolute;
width: 366px;
height: 29px;
left: 795px;
top: 133px;

font-family: 'Montserrat',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #021F55;
border-radius: nullpx;

}
.field{
    margin-top: 10px;
}

#label{

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 530;
    font-size: 12px;
    line-height: 15px;
    
    color: #1B2228;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#r1{
    position: absolute;
    width: 201px;
    height: 15px;
    left: 820px;
    top: 400px;  
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    
    color: #1B2228;  
}

#r2{
    position: absolute;
    width: 96px;
    height: 15px;
    left: 820px;
    top: 425px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #1B2228;
}

#r3{
    position: absolute;
    width: 157px;
    height: 15px;
    left: 826px;
    top: 450px;
    
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    
    color: #1B2228;
    
}



#r4{

    position: absolute;
    width: 161px;
    height: 15px;
    left: 826px;
    top: 475px;

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #1B2228;

}
#r5{
    position: absolute;
    width: 126px;
    height: 15px;
    left: 826px;
    top: 500px;

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #1B2228;
}

#button{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 140px;

    position: absolute;
    width: 320px;
    height: 32px;
    left: 818px;
    top: 544px;

 

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;

    text-align: center;

    color: #FFFFFF;
    background: #2D81F7;

    border-radius: 4px;    

}


#eye1{
    position: absolute;
    left: 1107px;
    top: 272px;
    height: 24px;
    width: 24px;
    border-radius: 0px;


}
#eye2{
    
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1107px;
    top: 335px;
    border-radius: 0px;



}

#eyecross1{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1107px;
    top: 272px;
    border-radius: 0px;


}
#eyecross2{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1107px;
    top: 335px;
    height: 24px;



}

#login{
    position: absolute;
    width: 198px;
    height: 24px;
    left: 879px;
    top: 602px;

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;


    text-align: center;

    color: #000000;
}

.mainContent{
    --bs-gutter-x:0
}