<div class="container-fluid">
    <div class="row">
        <div class="col-6 img-part">
            <img src="./assets/image/image_processing20220107-29527-faafhi 1.svg" id="for-img" alt="forget-image">
        </div>
        <div class="col-6 login-part">
            <div class="logo">
                <img src="./assets/image/Group 7.svg" alt="logo">
            </div>
            <div class="heading">
                <h3 id = 'head' >Hello,Welcome</h3>
            </div>
           <p id="log">login</p>
           <div class="input-box">
            <label for="email">Mobile Number or Email</label>
            <input type="text" id="email"  pInputText />

            <label for="password">Password</label>
            <input type="password" id="password"  pInputText />
           </div>
           <p class="for">Forget Password?</p>
         <div class="btn">
            <p>LOGIN</p>
         </div>
         <p>Don't have an account? <a href=""> Register Now</a></p>
          

       </div>
    </div>
</div>