.img-part {
    background: #2F4BDE;
    height: 100vh;
  }
  
  #for-img {
    width: 100%;
    margin-top: 150px;
  }

  .password-part{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .heading p {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #021F55;
  }
  
  .input-box {
    display: flex;
    justify-content: center;
  }
  
  label {
    font-weight: 500;
    font-family: 'monsterrat';
    color: #1B2228;
    font-size:12px;
    //margin-bottom: 30px;
  }
  
  input[type="password"] {
    height: 30px;
    width: 320px;
  }
  

  .back-log {
    display: flex;
    justify-content: center;
    color: #2D81F7;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    font-size: 12px;
  }
  
  .error-type {
    color:red;
    font-size: 11px;
    top:3px;
  }
  
  .p-inputtext:enabled:focus {
    box-shadow: none;
  }
  
  .input-box{
    position: relative;
    margin-bottom: 30px;
  }
  
  .error-show {
    position: absolute;
    top:49px;
  }

  .p-button {
    height: 30px;
    width: 320px;
    font-size: 11px;
  }