<div id="footer">
 <div class="container-Fluid">
    <div class="row" style="background-color:rgb(179, 222, 179);">
        
    </div>
    <div class="row">
        <div class="col-6" style="background-color:rgb(179, 222, 179);"></div>
        <div class="col-6"style="background-color:rgb(179, 222, 179);"></div>
    </div>
    <div class="row">
        <div class="col-6" style="background-color:rgb(179, 222, 179);">

        </div>
        <div class="row">
            <div class="col-6">
                <div class="col-4" style="background-color:rgb(179, 222, 179);">
    
                </div>
                <div class="col-4 "style="background-color:rgb(179, 222, 179);">
    
                </div>
                <div class="col-4" style="background-color:rgb(179, 222, 179);">
    
                </div>
            </div>
        </div>
        
    </div>
 </div>



</div>