<div class="container-fluid">
    <div class="row" id="loginDashboard">
      <div class="col-6" id="image">
        <img src="../../assets/images/Group 6.svg" alt="" class="logo">
        <img src="../../assets/images/image_processing20220107-29527-faafhi 1.svg" alt="" class="logo1">
     
      </div>
      <div class="col-6" id="form" >
        <div class="form-group">
  
          <div class="header">
            <div>
              <img src="../../assets/images/Group 7.svg" alt="" />
            </div>
            <h1>Hello Welcome</h1>
            <div class="para"><p>Enter to digital learning</p></div>
    
          </div>
          <div>
            <p>Name</p>
    
            <input type="text" pInputText class="inputBox" />
          </div>
          <div>
            <p>Mobile NUmber</p>
            <input type="text" pInputText class="inputBox" />
          </div>
          <div>
            <p>Email</p>
    
            <input type="text" pInputText  class="inputBox"/>
          </div>
          <div class="submitButton">
          <p-button label="Submit" class="submit-button"></p-button>
    
          </div>
          <div>
            <p id="para">Already Have an Account <a href="#">Login</a></p>
          </div>
        </div>
  
       
      </div>
    </div>
  </div>
  