.header {
    text-align: center;
}

.form-group {
    width: 340px;
    margin: auto    ;
}

input {
    width: 100%;
}

#image {

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#image{
    background-color: #2F4BDE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.logo{
    text-align: center;
    width: 200;
    margin: auto;
    
}

.para{
    text-align: center;
}
#form{
    margin-top: 150px;
}
