<div class="container-fluid">
    <div class="row" id="loginDashboard">
        <div class="col-md-6 p-0" id="imge">
            <div class="bg-img"></div>
            <!-- <img src="../../assets/image/image_processing20220107-29527-faafhi 1.svg" alt="" id="logo"> -->
        </div>
        <div class="col-md-6" id="input">
                <!-- <div class="col-md-3"></div> -->
                    <div class="login-wrapper">
                        <div class="text-center">
                            <div>
                                <img src="../../assets/image/Group 2.svg" alt="">
                            </div>
                            <h1>Hello Welcome</h1>
                            <div><p>Enter to digital learning</p></div>
                        </div>
                         
                        <!-- <div><label for="input">Name</label>
                        </div>
                        <div><input type="text" placeholder="Enter Your Name" class="pad">
                        </div>
                        <div><label for="input">Mobile Number</label>
                        </div>
                        <div><input type="text" placeholder="Enter Your Name" class="pad">
                        </div>
                        <div><label for="input">Email</label>
                        </div>
                        <div><input type="text" placeholder="Enter Your Email" class="pad">
                        </div>
                        <div><input type="button" value="SUBMIT" id="button">
                        </div>
                        <div><p id="para">Already Have an Account <a href="#">Login</a></p>
                            
                        </div> -->

                        <div class="form-group">
                        <label for="name">Name</label>
                            
                            <input type="text" placeholder="Enter Your Name">
                        </div>

                        <div class="form-group">
                            <label for="number">MObileNumber</label>
                            <input type="text" placeholder="Enter Your Mobile Number">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" placeholder="Enter Your Email">
                        </div>

                        <div>  
                        </div>
               
            </div>
            
        </div>
    </div>
    
    
</div>