#loginDashboard{
    height: 100vh;
}
h1{
    margin-top: 20px;
}

#imge{
  

background: #2F4BDE;
}
#logo{
    margin-top: 219px;
}
img{
    margin-left: 70px;
}
p{
    margin-left: 50px;
    margin-top: 20px;
}


#main{
    margin-top: 100px;
}
#button{
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #2F4BDE;
    padding: 10px;
    margin-top: 30px;
    width: 295px;
    &:hover{
        background-color: #6c80e8;
    }
}
#para{
    margin-left: 30px;
}
.pad{
    padding: 5px 24px;
    border: 1px solid #E1E7EA;

        
    
    
}
