.row {
    height: 100vh;
  }
  
  .img-part {
    background: #2F4BDE;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
  }
  
  .login-part {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .logo {
    margin-top: 30px;
  }
  
  .heading {
    margin-top: 45px;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #021F55;
  }
  
  #log {
    color: #1B2228;
    margin-bottom: 25px;
  }
  
  .input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    width: 150px;
    height: 15px;
    font-size: 12px;
    color: #1B2228;
    margin-bottom: 8px;
    cursor: pointer;
    //color: #1B2228;
  }
  
  input[type="email"],
  input[type="password"] {
    height: 30px;
    width: 320px;
    //margin-bottom: 20px;
  }
  
  .p-button{
    height: 30px;
    width: 320px;
    font-size: 12px;
    font-family: 'monsterrat';
    margin-bottom: 20px;
    .p-button-label{
      font-weight: 500;
    }
  }
  
  .p-inputtext:enabled:focus {
    box-shadow: none;
  }
  
  .for {
    margin-right: -200px;
  }
  
  a {
    text-decoration: none;
  }
  
  .error-msg {
    position: relative;
    top: 6px;
    color: red;
    font-size: 11px;
  }
  
  .form-grp {
    position: relative;
    margin-bottom: 10px;
  
    .error-indicator {
      position: absolute;
      bottom: -10px;
    }
  }

  
  .p-tooltip {
    height:250px
  }

  .tooltip {
    height: 500px;
  }
  
 