<div class="container-fluid">
    <div class="row">
        <div class="col-6 img-part">
            <img src="./assets/image/image_processing20220107-29527-faafhi 1.svg" id="for-img" alt="forget-image">
        </div>
        <div class="col-6">
            <div class="logo">
                <img src="./assets/image/Group 7.svg" alt="logo">
            </div>
            <div class="heading">
                <p>FORGET PASSWORD</p>
            </div>
            <div class="input-box">
                <div>
                    <label for="email">Mobile Number or Email</label><br>
                    <input type="text" placeholder="Small" pInputText />
                </div>
            </div>

            <div class="btn-box">
                <div class="btn">
                    <p>Send Me Instructions</p>
                </div>
            </div>
            <div class="back-log">
                <a href="#">Back to Login</a>
            </div>
        </div>
    </div>
</div>