.img-part {
  background: #2F4BDE;
  height: 100vh;
}

#for-img {
  width: 100%;
  margin-top: 150px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.heading {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 40px;
  color: #021F55;
}

.input-box {
  display: flex;
  justify-content: center;
}

label {
  width: 150px;
  height: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #1B2228;
  //margin-bottom: 30px;
}

input[type="text"] {
  height: 30px;
  width: 320px;
  margin-bottom: 40px;
}

.btn {
  width: 320px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: -1px 140px;
  background: #2D81F7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.btn p {
  padding: 18px 60px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 11px;
}

.btn p:hover {
  color:#2D81F7;
  //background-color:  #1B2228;
}

.btn-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.back-log {
  display: flex;
  justify-content: center;
  //text-align: center;
  color: #2D81F7;
  text-decoration: none;
}

a {
  text-decoration: none;
}