<div id="forger-password">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="img-part">
                    <img src="./assets/image/image_processing20220107-29527-faafhi 1.svg" id="for-img"
                        alt="forget-image">
                </div>
            </div>
            <div class="col-6">

                <div class="login-part">

                    <div class="logo">
                        <img src="./assets/image/Group 7.svg" alt="logo">
                    </div>
                    <div class="heading">
                        <p>FORGET PASSWORD</p>
                    </div>
                    <div class="input-box">
                        <div>
                            <label for="email">Mobile Number or Email</label><br>
                            <input type="text" placeholder="" name="email" [(ngModel)]="mail" required #email="ngModel"
                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" pInputText />

                            <div class="error-show" *ngIf="email.invalid && (email.dirty || email.touched)">
                                <span class="error-type" *ngIf="email?.errors?.required"> Email is required</span>
                                <span class="error-type" *ngIf="email.errors?.pattern"> Email is invalid</span>

                            </div>

                        </div>
                    </div>
                    
                    <button pButton class="logBtn" type="button" [disabled]=""
                    label="SEND ME INSTRUCTIONS" (click)="forget()"></button>
    
                    <div class="back-log">
                        <a routerLink="/login">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast position="top-center"></p-toast>