

 @import url('../../variable.scss');





.user-form{
    position:relative ;
    left: 440px;
    top:50px;
    height: 400px;
    width: 340px;
    border: 3px black solid;
    
    }
    .error2{
        position:relative;
        height: 50px;
        color: red;
    }

    label::after{
        content: '*';
        color:red;
    }
    
 .secondary{
    position: relative;
    top:40px;
    left:70px;
    
    
 }

 

