
<!-- <app-login></app-login> -->

<!--    <app-forget-password-page></app-forget-password-page>  -->
<!-- <app-login-page></app-login-page> -->




 

<!-- <app-login1></app-login1> 

<app-login2></app-login2>
<app-login3></app-login3> 

 
 <app-login></app-login>  -->

 <router-outlet></router-outlet>









<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
