.img-part {
  background-color: #2F4BDE;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

#for-img {
  width: 100%;
  margin-top: 170px;
}

.login-part {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-top: 30px;
}

.heading {
  margin-top: 45px;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #021F55;
}

#log {
  color: #1B2228;
  margin-bottom: 25px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  width: 150px;
  height: 15px;
  font-size: 12px;
  color: #1B2228;
  margin-bottom: 8px;
  cursor: pointer;
  //color: #1B2228;
}

input[type="email"],
input[type="password"] {
  height: 30px;
  width: 320px;
  //margin-bottom: 20px;
}

.btn {
  //margin-top: 30px;
  background: #2D81F7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 140px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.btn p {
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;

  &:hover {
    color: #2F4BDE;
  }
}

.p-inputtext:enabled:focus {
  box-shadow: none;
}

.for {
  margin-right: -200px;
}

a {
  text-decoration: none;
}

.error-msg {
  position: relative;
  top: 6px;
  color: red;
  font-size: 11px;
}

.form-grp {
  position: relative;
  margin-bottom: 10px;

  .error-indicator {
    position: absolute;
    bottom: -10px;
  }
}

.p-button{
  height: 30px;
  width: 320px;
  font-size: 12px;
  font-family: 'monsterrat';
  margin-top: 15px;
  margin-bottom: 20px;
  .p-button-label{
    font-weight: 500;
  }
}