.employee-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}

.p-inputtext{
    height: 30px;
    min-width: 300px;
}

.form-grp {
    position: relative;
    //margin-bottom: 10px;
    .error-indicator {
        position: absolute;
    }
}

.errors {
    font-size: 11px;
    color:red;
}

.p-button {
    height: 30px;
    width:300px;
    font-size: 12px;
}

.p-inputtext:enabled:focus {
    box-shadow: none;
}