<div class="container-fluid">
    <div class="row" id="loginDashboard">
        <div class="col-6" id="imge">
            <img src="../../assets/image/image_processing20220107-29527-faafhi 1.svg" alt="" id="logo">
            
        </div>
        <div class="col-6" id="input">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6" id="main">
                    <div>
                        <img src="../../assets/image/Group 2.svg" alt="">
                    </div>
                    <h1>Hello Welcome</h1>
                    <div><p>Enter to digital learning</p></div>
                    <div>   
                        <div><label for="input">Create Your Password</label>
                        </div>
                        <div><input type="text" placeholder="Enter Your Name" class="pad">
                        </div>
                        <div><label for="input">Confirm Password</label>
                        </div>
                        <div><input type="text" placeholder="Enter Your Name" class="pad">
                        </div>
                       
                            
                        <div><input type="button" value="SUBMIT" id="button">
                        </div>
                        <div><p id="para">Already Have an Account <a href="#">Login</a></p>
                            
                        </div>
                </div>
                <div class="col-3"></div>
            </div>
            
            </div>
        </div>
    </div>
    
    
</div>
