<div class="container-fluid">
    <div class="row" id="loginDashboard">
        <div class="col-6" id="imge">
            <img src="../../assets/image/image_processing20220107-29527-faafhi 1.svg" alt="" id="logo">
            
        </div>
        <div class="col-6" id="input">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8" id="main">
                    <div>
                        <img src="../../assets/image/Group 2.svg" alt="">
                    </div>
                    <h1>Hello Welcome</h1>
                    <div><p>We've sent an OTP to your registered mobile number XXXXXXX313</p></div>
                    
                        <div><input type="text" placeholder="One time password" class="pad">
                        </div>
                        <div><input type="button" value="Verify OTP" id="button">
                        </div>
                        <div><p id="para"><a href="#">Resend OTP</a></p>
                            
                        </div>
                </div>
                <div class="col-2"></div>
            </div>
            
            </div>
        </div>
    </div>
    
    


